.fondo{
    position: fixed;
    background-image: url("../../../../../assets/loginImage.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.typing-demo {
    width: 22ch;
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    margin-top:50px;
    margin-left: 27%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgb(255, 5, 5);
    font-size: 2em;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.inputName{
    margin-top: 2%;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.card{
    width: 250px;
    height: 250px;
    margin-bottom: 2%;
    margin-top: 1%;
    color: aliceblue;
    background-color: rgba(16, 15, 19, 0.8);
    box-shadow: 0 0 30px rgba(238, 8, 8, 0.909);
    text-align: center
}
.imgPokemon{
    height: 150px;
}
