<div class="home">
	<app-nav></app-nav>
	<div class="row headerInfo" >
		<div class="col-md-1" style="background-color: rgba(0, 0, 0, 0.4); height: 400px;"></div>
		<div class="col-md-5 centralInfo">
			<img src="assets/homeAngular.jpg"  class="homeAngular">
		</div>
		<div class="col-md-5 centralInfo">
			<div class="jumbotron">
				<h2>
					POKE API 
				</h2>
				<img src="assets/pokebola.png"  class="pokeBola">
				<p>
					Este sitio web proporciona una API RESTful para objetos muy detallados creados a partir de miles de líneas de datos relacionados con Pokémon. Cubrimos específicamente la franquicia de videojuegos. Usando este sitio web, puedes consumir información sobre Pokémon, sus movimientos y mucho, mucho más.
				</p>
			</div>
		</div>
		<div class="col-md-1" style="background-color: rgba(0, 0, 0, 0.4); height: 400px;"></div>
	</div>
	<div class="row carInfo">
		
		<div class="col-md-4">
			<h2>
				¿Que es una API?
			</h2>
			<p>
				API (Application Programming Interface) Las API son mecanismos que permiten a dos componentes de software comunicarse entre sí mediante un conjunto de definiciones y protocolos.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Categoria De API
			</h2>
			<p>
				Api Pokémon se puede categorizar como una Api pública, la cual nos permite traer parámetros de búsqueda de información relacionada con Pokémon que pueden ser usados de manera libre.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Propósito
			</h2>
			<p>
				Este proyecto tiene como propósito mostrar las habilidades adquiridas durante el curso de capacitación, de manera que se optó por usar la API de Pokémon con fines educativos.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>